# IDEs: vscode, etc.
.history/
.ignore/
.vscode/*
!.vscode/settings.json
*.scratch

#
.env

# Python/FastAPI
__pycache__/

# PHP/Symfony
.env.local
.env.local.php
.env.*.local
config/secrets/prod/prod.decrypt.private.php
public/bundles/
var/
vendor/

# JavaScript / Node / React
node_modules/
web/public/build/
